
body {
  background-image: url("../images/BlogPage.png");
  background-size: 1700px 900px;
}

h1{
  font-size: 50px;
  text-align: center;
  color: white;
  font-weight:normal;

}

table{
  color: white;
  table-layout: fixed;width:80%;
  position: relative;
  
}
