
body {
  background-image: url("../images/Wood.jpg");
  background-size: 1700px 900px;
}

.Title h1{

}
h1{
  font-size: 70px;
  text-align: center;
  color: white;
  font-weight:normal;
  position: absolute;
  left: 810px;
  top: 60px
  }

header{
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 40px;
  display: inline-block;

}


table{
  color: white;
  table-layout: fixed;width:85%;
  position: fixed;
  left: 0px;
  top: 270px;
  text-align: center;
  font-size: 20px;
  margin: 50px 100px 100px -20px;
}

.date1 {
  color: white;
  font-size: 15px;

}

.date2 {
  color: white;
  font-size: 15px;

}

.date3 {
  color: white;
  font-size: 15px;

}
