
body {
  background-image: url("../images/BlogPage.png");
  background-size: 1700px 900px;
}

h1{
  font-size: 70px;
  text-align: center;
  color: white;
  font-weight:normal;
  position: absolute;
  left: 810px;
  top: 60px
}

table{
  color: white;
  table-layout: fixed;width:80%;
  position: absolute;
  left: 0px;
  top: 300px;
  text-align: center;

}
